*{
  box-sizing:border-box;
}

header{
  background-color:rgba(34,49,52,0.8);width:100%;height:90px;
}
.header-left{
  float:left;height:100%;
}
.header-left h1{
  color:white;margin-left:50px;font-size:40px;font-family:cursive;
}
.header-right{
  float:right;background-color:rgba(36, 202, 77, 0.7);font-size:30px;
  margin-right:100px;display:block;font-family:cursive;
  border-radius:10px;padding-left:50px;padding-right:50px;box-shadow:10px 10px black;
}
.header-right:hover{
  background-color:rgba(36,202,77,1);
}
.header-right:active{
  position:relative;top:5px;box-shadow:none;
}

.header-right a{
  color:black;display:block;line-height:70px;
}

.top{
  padding:100px;
  background-image:url(../picture/image/school.jpg);
  background-size:cover;
}

.hasami{
  height:100%;
  background-color:rgba(255,255,255,0.5);
}
.container h1{
  font-size:100px;text-align:center;padding-top:15px;
  font-family:cursive;
}
.setumei{
  font-size:60px;text-align:center;font-family:monospace;
}
.span-style{
  opacity:0.8;color:cornflowerblue;font-family:cursive;
}
.container h3{
  font-size:80px;text-align:center;font-family:cursive;
}
.start{
  display:inline-block;background-color:rgb(36,202,77,0.7);
  font-size:60px;color:black;border-radius:10px;
  margin-left:750px;margin-bottom:15px;font-family:cursive;
  box-shadow:10px 10px black;
}
.start:hover{
  background-color:rgba(36,202,77,1);
}
.start:active{
  position:relative;top:5px;box-shadow:none;
}

.online{
  font-size:50px;color:white;border:5px solid white;text-align:center;
}

.issyoda{
  font-size:50px;padding:50px;opacity:0.8;
  border-radius:10px;font-family:cursive;margin-left:16%;
  box-shadow:10px 10px black;
}
.renraku-contents{
  margin-top:50px;
}
.issyoda:hover{
  opacity:1;
}
.instada{
  background-color: #c71585;
}
.instada:active{
  position:relative;top:15px;box-shadow:none;
}

.webda{
  background-color:gold;
}
.webda:active{
  position:relative;top:15px;box-shadow:none;
}

@media(max-width:670px){
  header{
    background-color:rgba(34,49,52,0.8);width:100%;height:50px;
  }
  .header-left{
    float:left;height:100%;
  }
  .header-left h1{
    color:white;margin-left:5px;font-size:18px;font-family:sans-serif;
  }
  .header-right{
    float:right;background-color:rgba(36, 202, 77, 0.7);font-size:15px;
    margin-right:5px;display:block;font-family:sans-serif;
    border-radius:10px;padding-left:5px;padding-right:5px;
    box-shadow:5px 5px black;
  }
  .header-right:hover{
    background-color:rgba(36,202,77,1);
  }
  .header-right a{
    color:black;display:block;line-height:40px;
  }
  
  .top{
    padding:1px;height:100%;
    background-image:url(../picture/image/school.jpg);
    background-size:cover;
  }
  
  .hasami{
    height:100%;
    background-color:rgba(255,255,255,0.5);
  }
  .container h1{
    font-size:50px;text-align:center;padding-top:15px;
    font-family:sans-serif;
  }
  .setumei{
    font-size:20px;text-align:center;font-family:sans-serif;
  }
  .span-style{
    opacity:0.8;color:cornflowerblue;font-family:sans-serif;
  }
  .container h3{
    font-size:30px;text-align:center;font-family:sans-serif;
  }
  .start{
    display:inline-block;background-color:rgb(36,202,77,0.7);
    font-size:30px;color:black;border-radius:10px;
    margin-left:120px;margin-bottom:15px;font-family:sans-serif;
    box-shadow:8px 8px black;
  }
  .start:hover{
    background-color:rgba(36,202,77,1);
  }
  
  .online{
    font-size:30px;color:white;border:5px solid white;text-align:center;
  }
  
  .issyoda{
    font-size:20px;padding:15px;opacity:0.8;
    border-radius:10px;font-family:sans-serif;box-shadow:8px 8px black;
  }
  .renraku-contents{
    margin-top:20px;
  }
  .issyoda:hover{
    opacity:1;
  }
  .instada{
    background-color: #c71585;margin-left:10px;
  }
  
  .webda{
    background-color:gold;margin-left:10px;
  }
  

}
